<div class="flex justify-center py-4 gap-4">
    <button class="bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="open1()">Frame Top</button>
    <button class="bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="open2()">Frame Center</button>
    <button class="bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="open3()">Frame Bottom</button>
</div>
<div class="flex justify-center py-4 gap-4">
    <button class="bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="open4()">Side TopLeft</button>
    <button class="bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="open5()">Side TopRight</button>
    <button class="bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="open6()">Side BottomLeft</button>
    <button class="bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="open7()">Side BottomRight</button>
</div>
<ng-template #modal>
    <div class="w-full ">
        <div class="text-center p-4">
            <h5>Ações</h5>
        </div>

        <div class="overflow-y-auto">

            <table class="w-full text-sm text-left">
                <thead class="text-xs uppercase">
                    <tr>
                        <th class="py-1 px-6">Nome do Evento</th>
                        <th class="py-1 px-6">Quando ocorre</th>
                        <th class="py-1 px-6">Retorno</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hover:bg-gray-200/30">
                        <th class="py-2 px-6 font-medium whitespace-nowrap">byClick</th>
                        <td class="px-6">Disparado quando o usuário clica no botão.</td>
                        <td class="px-6">-</td>
                    </tr>
                    <tr class="hover:bg-gray-200/30">
                        <th class="py-2 px-6 font-medium whitespace-nowrap">byHover</th>
                        <td class="px-6">Disparado quando o cursor do mouse passa sobre o botão.</td>
                        <td class="px-6">-</td>
                    </tr>
                    <tr class="hover:bg-gray-200/30">
                        <th class="py-2 px-6 font-medium whitespace-nowrap">byLeave</th>
                        <td class="px-6">Disparado quando o cursor do mouse sai do botão.</td>
                        <td class="px-6">-</td>
                    </tr>
                </tbody>
            </table>
            <div class="flex justify-center py-4">
                <button class="bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="close()">Fechar</button>
            </div>
        </div>
    </div>
</ng-template>