<div class="md:mt-2">
    <div class="flex items-center font-bold uppercase text-2xl">
        <h1>UI Icons</h1>
    </div>
    <p class="pt-2 text-gray-600">Exemplos para utilização do componente Modal.</p>
</div>
<hr class="my-4 border-b-2 border-gray-200" />

<div class="mb-6 text-sm">
    <p class="">Ícones são imagens que nos dizem de forma bem direta o que alguma coisa significa, para que serve um
        objeto ou que tipo de conteúdo vamos encontrar pela frente.</p>
</div>


<div class="mb-6 text-sm">
    <p class="">Clique no icone para copiar o SVG.</p>
    <p class="text-[.6rem]">Obs.: Icones em construção.</p>
</div>

<div class="flex flex-wrap bg-cyan-700/10">
    <app-ico [name]="'Alert Circle'" [valueCopy]="'vat-icon-alert-circle'">
        <vat-icon-alert-circle></vat-icon-alert-circle>
    </app-ico>
    <app-ico [name]="'Align Left'" [valueCopy]="'vat-icon-align-left'">
        <vat-icon-align-left></vat-icon-align-left>
    </app-ico>
    <app-ico [name]="'Bell'">
        <vat-icon-bell></vat-icon-bell>
    </app-ico>
    <app-ico [name]="'Box'">
        <vat-icon-box></vat-icon-box>
    </app-ico>
    <app-ico [name]="'Calendar'">
        <vat-icon-calendar></vat-icon-calendar>
    </app-ico>
    <app-ico [name]="'Cart Shopping'">
        <vat-icon-cart-shopping></vat-icon-cart-shopping>
    </app-ico>
    <app-ico [name]="'Chart Pie'">
        <vat-icon-chart-pie></vat-icon-chart-pie>
    </app-ico>
    <app-ico [name]="'Check'">
        <vat-icon-check></vat-icon-check>
    </app-ico>
    <app-ico [name]="'Circle Arrow Rigth'">
        <vat-icon-circle-arrow-right></vat-icon-circle-arrow-right>
    </app-ico>
    <app-ico [name]="'Coffe'">
        <vat-icon-coffe></vat-icon-coffe>
    </app-ico>
    <app-ico [name]="'Database'">
        <vat-icon-database></vat-icon-database>
    </app-ico>
    <app-ico [name]="'Download'">
        <vat-icon-download></vat-icon-download>
    </app-ico>
    <app-ico [name]="'Edit'">
        <vat-icon-edit></vat-icon-edit>
    </app-ico>
    <app-ico [name]="'File Text'">
        <vat-icon-file-text></vat-icon-file-text>
    </app-ico>
    <app-ico [name]="'Flag'">
        <vat-icon-flag></vat-icon-flag>
    </app-ico>
    <app-ico [name]="'Gift'">
        <vat-icon-gift></vat-icon-gift>
    </app-ico>
    <app-ico [name]="'Globe'">
        <vat-icon-globe></vat-icon-globe>
    </app-ico>
    <app-ico [name]="'Health Activity'">
        <vat-icon-health-activity></vat-icon-health-activity>
    </app-ico>
    <app-ico [name]="'Hexagon'">
        <vat-icon-hexagon></vat-icon-hexagon>
    </app-ico>
    <app-ico [name]="'Home'">
        <vat-icon-home></vat-icon-home>
    </app-ico>
    <app-ico [name]="'Layout'">
        <vat-icon-layout></vat-icon-layout>
    </app-ico>
    <app-ico [name]="'Link External'">
        <vat-icon-link-external></vat-icon-link-external>
    </app-ico>
    <app-ico [name]="'Loading'">
        <vat-icon-loading></vat-icon-loading>
    </app-ico>
    <app-ico [name]="'Mouse Pointer'">
        <vat-icon-mouse-pointer></vat-icon-mouse-pointer>
    </app-ico>
    <app-ico [name]="'Phone'">
        <vat-icon-phone></vat-icon-phone>
    </app-ico>
    <app-ico [name]="'Phone Call'">
        <vat-icon-phone-call></vat-icon-phone-call>
    </app-ico>
    <app-ico [name]="'Search'">
        <vat-icon-search></vat-icon-search>
    </app-ico>
    <app-ico [name]="'Settings'">
        <vat-icon-settings></vat-icon-settings>
    </app-ico>
    <app-ico [name]="'Slash'">
        <vat-icon-slash></vat-icon-slash>
    </app-ico>
    <app-ico [name]="'Square Check'">
        <vat-icon-square-check></vat-icon-square-check>
    </app-ico>
    <app-ico [name]="'Tool'">
        <vat-icon-tool></vat-icon-tool>
    </app-ico>
    <app-ico [name]="'Upload'">
        <vat-icon-upload></vat-icon-upload>
    </app-ico>
    <app-ico [name]="'User'">
        <vat-icon-user></vat-icon-user>
    </app-ico>
    <app-ico [name]="'User Check'">
        <vat-icon-user-check></vat-icon-user-check>
    </app-ico>
    <app-ico [name]="'User Plus'">
        <vat-icon-user-plus></vat-icon-user-plus>
    </app-ico>
    <app-ico [name]="'X'">
        <vat-icon-x></vat-icon-x>
    </app-ico>
</div>