<div class="md:mt-2">
  <div class="flex items-center font-bold uppercase text-2xl">
    <h1>UI Card</h1>
  </div>
  <p class="pt-2 text-gray-600">Exemplos para utilização do componente Card.</p>
</div>
<hr class="my-4 border-b-2 border-gray-200" />

<div class="mb-6 text-sm">
  <p class="">Componente para exibição informações para o usuário.</p>
</div>

<!-- <app-example-viewer [title]="'Exemplo do componente Card Alfa'">
  <div class="flex flex-wrap">
    <vat-card-alfa class="p-1 w-48" [card]="cardsAlfa[0]"></vat-card-alfa>
    <vat-card-alfa class="p-1 w-96" [card]="cardsAlfa[1]"></vat-card-alfa>
    <vat-card-alfa class="p-1 w-48" [card]="cardsAlfa[2]"></vat-card-alfa>
    <vat-card-alfa class="p-1 w-48" [card]="cardsAlfa[3]"></vat-card-alfa>
    <vat-card-alfa class="p-1 w-[36rem]" [card]="cardsAlfa[4]"></vat-card-alfa>
  </div>
</app-example-viewer>

<div class="mt-4">
  <h2 class="font-semibold">Configuração</h2>
  <p class="text-sm">
    Após instalar o componente, será necessário importar o Modulo do Card nos modulos da aplicação, conforme exemplo abaixo.
  </p>
  <app-code-viewer [codeViewer]="codeModule"></app-code-viewer>
</div>

<div class="mt-4">
  <h2 class="font-semibold">Interface</h2>
  <p class="text-sm">Interface do objeto CardAlfa.</p>
  <app-code-viewer [codeViewer]="codeCardAlfaInterfaceExample"></app-code-viewer>
</div>

<div class="mt-4">
  <h2 class="font-semibold">Utilização</h2>
  <p class="text-sm">Utilização do componente CardAlfa.</p>
  <app-code-viewer [codeViewer]="codeImplementationExample"></app-code-viewer>
</div>

<div class="mt-4">
  <h2 class="font-semibold">Exemplo de utilização</h2>
  <p class="text-sm">Exemplo de como utilizar o componente Card Alfa.</p>
  <app-code-viewer [codeViewer]="codeExample"></app-code-viewer>
</div>

<div class="mt-4">
  <h2 class="font-semibold">Tamanho do Card</h2>
  <p class="text-sm">O Card Alfa não tem limite de largura, ou seja, o card terá o tamanho determinado pela tag do componente.</p>
  <app-code-viewer [codeViewer]="codeWidthExample"></app-code-viewer>
</div>

<div class="mt-4">
  <h2 class="font-semibold">Clique no Card</h2>
  <p class="text-sm">O Card Alfa tem um evento para quando o usuário clicar no card.</p>
  <app-code-viewer [codeViewer]="codeClickExample"></app-code-viewer>
</div> -->
