<div class="flex flex-col py-4 px-2 border-2 rounded-md relative" [id]="idExample">
  <div class="flex flex-wrap text-center xsm:text-left">
    <p class="font-semibold">{{ title }}</p>
    <!-- <div class="">
      <div class="flex justify-end">
        <vat-tooltip *ngIf="idExample" [text]="'Copiar link para exemplo'" [position]="2">
          <i class="flex justify-center items-center h-5 w-5 cursor-pointer hover:text-slate-900 hover:shadow-md icon-link"
            (click)="clickCopy()"></i>
        </vat-tooltip>
        <vat-tooltip *ngIf="linkExample" [text]="'Ver código do exemplo'" [position]="3">
          <a [href]="linkExample" target="_blank">
            <i
              class="flex justify-center items-center h-5 w-5 cursor-pointer hover:text-slate-900 hover:shadow-md icon-embed"></i>
          </a>
        </vat-tooltip>
        <vat-tooltip [text]="'Ver código do exemplo'" [position]="2">
          <i class="flex justify-center items-center h-5 w-5 icon-share"></i>
        </vat-tooltip> 
      </div>
    </div> -->
  </div>
  <div class="flex flex-col py-10">
    <ng-content></ng-content>
  </div>
</div>