<div class="md:mt-2">
    <div class="flex items-center font-bold uppercase text-2xl">
        <h1>UI Modal</h1>
    </div>
    <p class="pt-2 text-gray-600">Exemplos para utilização do componente Modal.</p>
</div>
<hr class="my-4 border-b-2 border-gray-200" />

<div class="mb-6 text-sm">
    <p class="">Use o componente modal para mostrar caixas de diálogo interativas e notificações para os usuários do seu site.</p>
</div>

<!-- <app-example-viewer [title]="'Alguns exemplos do componente Modal'">
    <div class="flex flex-col items-center">
        <vat-button [text]="'Exibir/Esconder Modal'" [rounded]="eRounded.md" [color]="eColor.blue" (byClick)="toggleModal()"></vat-button>
    </div>
</app-example-viewer>

<div class="mt-10">
    <h2 class="font-semibold">Configuração</h2>
    <p class="text-sm">
        Após instalar o componente, será necessário importar o Modulo do Modal nos modulos da aplicação, conforme
        exemplo abaixo.
    </p>
    <app-code-viewer *ngIf="valuesPage.codeModule" [codeViewer]="valuesPage.codeModule"></app-code-viewer>
</div>

<div class="mt-10">
    <h2 class="font-semibold">Eventos disponíveis no componente Modal</h2>
    <div class="overflow-x-auto relative shadow-md mt-2">
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-100">
                <tr>
                    <th class="py-1 px-6">Nome do Evento</th>
                    <th class="py-1 px-6">Quando ocorre</th>
                    <th class="py-1 px-6">Retorno</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of valuesPage.events" class="hover:bg-gray-200/30">
                    <th class="py-2 px-6 font-medium text-gray-900 whitespace-nowrap">{{ item.name }}</th>
                    <td class="px-6">{{ item.trigger }}</td>
                    <td class="px-6">{{ item.return }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="mt-10">
    <h2 class="font-semibold">Exemplo para exibição do Modal</h2>
    <div class="bg-sky-100/50 flex flex-col space-y-2">
        <p>Para utilização do Modal, é necessário especificar no template os valores "body" e "footer" para preenchimento das informações em seu respectivo lugar.</p>
        <app-code-viewer *ngIf="valuesPage.template" [codeViewer]="valuesPage.template"></app-code-viewer>
        <div>
            <p>Body</p>
            <p>Valor que será exibido no body do Modal.</p>
        </div>
        <div>
            <p>Footer</p>
            <p>Valor que será exibido no footer do Modal.</p>
        </div>
    </div>
</div>

<div class="mt-10">
    <h2 class="font-semibold">Exemplo para exibição do Modal</h2>
    <div class="bg-sky-100/50 flex flex-col space-y-2">
        <p class="text-sm">O parâmetro <span class="font-semibold">"show"</span> recebe um booleano, quando true o modal será exibido, conforme mostrado abaixo:</p>
        <app-code-viewer *ngIf="valuesPage.show" [codeViewer]="valuesPage.show"></app-code-viewer>
    </div>
</div>

<div class="mt-10">
    <h2 class="font-semibold">Exemplo de personalização para estilo "Rounded"</h2>
    <div class="bg-sky-100/50 flex flex-col space-y-2">
        <p class="text-sm">O parâmetro <span class="font-semibold">"Rounded"</span> recebe um enumerador, conforme mostrado abaixo:</p>
        <app-code-viewer *ngIf="valuesPage.roundedEnum" [codeViewer]="valuesPage.roundedEnum"></app-code-viewer>
        <app-code-viewer *ngIf="valuesPage.rounded" [codeViewer]="valuesPage.rounded"></app-code-viewer>
    </div>
</div>

<div class="mt-10">
    <h2 class="font-semibold">Exemplo de personalização para header do Modal</h2>
    <div class="bg-sky-100/50 flex flex-col space-y-2">
        <p class="text-sm">O parâmetro <span class="font-semibold">"cssClassHeader"</span> recebe um string, que será aplicado no atributo "class" do header:</p>
        <app-code-viewer *ngIf="valuesPage.cssClassHeader" [codeViewer]="valuesPage.cssClassHeader"></app-code-viewer>
    </div>
</div> -->
