.background-sky {
  background: linear-gradient(145deg, #d250e5, #00ffff);
}

.hero {
  opacity: 0.1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 480px;
  height: 80vh;
  max-height: 560px;
  box-sizing: border-box;
  padding: 48px 48px 32px;
  overflow: hidden;
  transform: skewY(8deg);
  transform-origin: 100%;
  z-index: -1;
}
