<div class="md:mt-2">
  <div class="flex items-center font-bold uppercase text-2xl">
    <h1>UI Select</h1>
  </div>
  <p class="pt-2 text-gray-600">Exemplos para utilização do componente Select.</p>
</div>
<hr class="my-4 border-b-2 border-gray-200" />

<div class="mb-6 text-sm">
  <p class="">Use o componente select para permitir o usuário selecionar uma opção em uma lista de opções.</p>
</div>

<app-example-viewer [title]="'Alguns exemplos do componente Select'">
  <div class="flex flex-col xsm:flex-row xsm:space-x-2 space-y-4 xsm:space-y-0 justify-center items-center">
    <vat-select class="w-full sm:w-60" [title]="'Selecione o Pokemon'" [placeholder]="'Selecione um item'" [itens]="itens"></vat-select>
    <vat-select class="w-full sm:w-60" [title]="'Selecione o Pokemon'" [placeholder]="'Selecione um item'" [itens]="itens" [rounded]="eSize.base"></vat-select>
  </div>
</app-example-viewer>

<div class="mt-10">
  <h2 class="font-semibold">Configuração</h2>
  <p class="text-sm">
    Após instalar o componente, será necessário importar o Modulo do Select nos modulos da aplicação, conforme exemplo abaixo.
  </p>
  <app-code-viewer *ngIf="moduleCV" [codeViewer]="moduleCV"></app-code-viewer>
</div>

<div class="mt-10">
  <h2 class="font-semibold">Eventos disponíveis no componente Select</h2>
  <div class="overflow-x-auto relative shadow-md mt-2">
    <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-100">
        <tr>
          <th class="py-1 px-6">Nome do Evento</th>
          <th class="py-1 px-6">Quando ocorre</th>
          <th class="py-1 px-6">Retorno</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of events" class="hover:bg-gray-200/30">
          <th class="py-2 px-6 font-medium text-gray-900 whitespace-nowrap">{{ item.name }}</th>
          <td class="px-6">{{ item.trigger }}</td>
          <td class="px-6">{{ item.return }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="mt-10">
  <h2 class="font-semibold">Exemplo de personalização para estilo "Rounded"</h2>
  <div class="bg-sky-100/50 flex flex-col space-y-2">
    <div class="grid grid-cols-1 place-items-center xsm:grid-cols-2 xsm:gap-x-2 xsm:gap-y-4 xl:grid-cols-4 2xl:grid-cols-5">
      <vat-select class="w-full sm:w-60 md:w-56 lg:w-52 2xl:max-w-2xl" [title]="'Selecione o Pokemon'" [placeholder]="'Selecione um item'" [itens]="itens"></vat-select>
      <vat-select class="w-full sm:w-60 md:w-56 lg:w-52 2xl:max-w-2xl" [title]="'Selecione o Pokemon'" [placeholder]="'Selecione um item'" [itens]="itens" [rounded]="eSize.base"></vat-select>
      <vat-select class="w-full sm:w-60 md:w-56 lg:w-52 2xl:max-w-2xl" [title]="'Selecione o Pokemon'" [placeholder]="'Selecione um item'" [itens]="itens" [rounded]="eSize.base"></vat-select>
      <vat-select class="w-full sm:w-60 md:w-56 lg:w-52 2xl:max-w-2xl" [title]="'Selecione o Pokemon'" [placeholder]="'Selecione um item'" [itens]="itens" [rounded]="eSize.base"></vat-select>
      <vat-select class="w-full sm:w-60 md:w-56 lg:w-52 2xl:max-w-2xl" [title]="'Selecione o Pokemon'" [placeholder]="'Selecione um item'" [itens]="itens" [rounded]="eSize.base"></vat-select>
      <vat-select class="w-full sm:w-60 md:w-56 lg:w-52 2xl:max-w-2xl" [title]="'Selecione o Pokemon'" [placeholder]="'Selecione um item'" [itens]="itens" [rounded]="eSize.base"></vat-select>
    </div>
    <p class="text-sm">O parâmetro <span class="font-semibold">"Rounded"</span> recebe um enumerador, conforme mostrado abaixo:</p>
    <app-code-viewer *ngIf="roundedEnumCV" [codeViewer]="roundedEnumCV"></app-code-viewer>
    <app-code-viewer *ngIf="roundedCV" [codeViewer]="roundedCV"></app-code-viewer>
  </div>
</div>

<div class="mt-10">
  <h2 class="font-semibold">Exemplo de utilização para "Title"</h2>
  <div class="bg-sky-100/50 flex flex-col space-y-2">
    <div class="grid grid-cols-1 ">
        <vat-select class="w-full sm:w-60 md:w-56 lg:w-52 2xl:max-w-2xl" [title]="'Selecione o Pokemon'" [itens]="itens"></vat-select>
    </div>
    <p class="text-sm">O parâmetro <span class="font-semibold">"Title"</span> é uma label que fica acima do select.</p>
    <app-code-viewer *ngIf="titleCV" [codeViewer]="titleCV"></app-code-viewer>
  </div>
</div>